.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.colors .color {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #239ce2;
}
.colors .active {
  border: 2px solid #000;
}

.toolbar button {
  background-color: #239ce2;
  color: #fff;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
  
  .toolbar button svg {
    height: 20px;
    width: 20px;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  