.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 20px;
}

.colors .color {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #239ce2;
}
.colors .active {
  border: 2px solid #000;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.resume-main-container {
  /* overflow: auto; */
  min-width: 1000px;
}
